@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Rock+Salt&family=Swanky+and+Moo+Moo&display=swap');

img {
    display: block;
    width: 50%;
    height: 50%;
    margin:auto;
}

h1 {
    font-family: 'Rock Salt', cursive;
}

p.paragraph {
    font-family: 'Kalam', cursive;
    font-size: larger;
}

p.jalon {
    font-style: italic;
    color: blue;
}

p.jalon .jalon-city {
    font-weight: bold;
    text-decoration: underline;
}

p.hebergement {
    font-size: small;
}

.body-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}