@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam&family=Rock+Salt&family=Swanky+and+Moo+Moo&display=swap');
@import './navigationBar.css';



img {
    display: block;
    width: 50%;
    height: 50%;
    margin:auto;
}

h1 {
    font-family: 'Rock Salt', cursive;
    margin-top : 50px;
}

p.paragraph {
    font-family: 'Kalam', cursive;
    font-size: larger;
}

p.jalon {
    font-style: italic;
    color: blue;
}

p.jalon .jalon-city {
    font-weight: bold;
    text-decoration: underline;
}

p.hebergement {
    font-size: small;
}

.sidebar-container {
    width: 100%;
    font-family: 'Courgette', cursive;
}

.sidebar-submenu {
    font-size: small;
}